<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SoftBlueBD.Properties.Settings.ElementyElektroniczneConnectionString"
            connectionString="Data Source=ZLOTY\SQLEXPRESS;Initial Catalog=ElementyElektroniczne;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SoftBlueBD.Properties.Settings.ElementyElektronicznePOPConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ElementyElektronicznePOP.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="SoftBlueBD.Properties.Settings.softbluebdConnectionString"
            connectionString="server=10.0.0.26;user id=admin;password=admin;persistsecurityinfo=True;database=softbluebd"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>